*{
    padding:0;
    margin:0;
}
.navbar{    
    height: 70px;
   display:flex;
   align-items: center;
   justify-content: space-between;
   background-color: rgb(0, 211, 200);
   padding: 0 50px;
}
.navbar ul{
    display:flex;
    gap:10px;
}
.navbar ul li a{
    display:flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color:#000000;
    padding:10px;
    font-size:20px;
}
.navbar ul li a:hover{
    color:#fff;
    transition: .3s;
}
.navbar li{
    list-style: none;
}
.navbar h1{
    width:100px;
}
.hitam-blur{
    width: 100%;
    border: 1px solid;
    height: 100%;
    background-color: #00000094;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hitam-blur h1{
    color: white;
}
.img{
    border: 1px solid;
    width: 100%;
    height: 100vh;
    position: fixed;
    background-image: url('./img/blue-mountains-famous-tourism-scenery-lijiang.jpg');
}
.hitam-blur span{
    color:rgb(0, 195, 255);
    display:flex;
    align-items: center;
    justify-content: center;
}
.hitam-blur p{
    color:#fff;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.hitam-blur button{
    border:1px solid;
    width:90px;
    height:25px;
    margin: 5px 0;
    color:#fff;
    background-color:blue;
    border:none;
}


